<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="../public/img/weather.png">
    <title>
        About Me
    </title>
</head>

{{>header}}

<body>
    <div class="content">
        {{!-- <p>{{text}}{{name}}</p> --}}
        <p>
            Hi, I'm Debapratim and I'm a 2yrs experienced Software Developer. I have built this site using 'Node.js' and
            used 'Express' to
            serve the pages. I have also used 'Git' as a version control tool and 'Heroku' for deploying and hosting
            this. But this site is still under development, kindly excuse if any errors are shown.
        </p>
        <img class="portrait" src="./img/me.jpg">
    </div>
</body>

{{>footer}}

</html>