<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../public/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>
        App
    </title>
</head>

{{>header}}

<body>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="content">
        {{!-- <p>{{desc}}</p> --}}
        <p>
            Welcome to the Home Page of Deb's Application. Feel free to hop onto other tabs and explore this site.
        </p>
    </div>
</body>

{{>footer}}

</html>