<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="../public/img/weather.png">

    <title>
        Weather Forecast
    </title>
</head>

{{>header}}

<body>
    <div class="content">
        <br>
        <p>
            This "Weather Application" provides you with Real-Time Weather Forecast for a given location.
            It uses API calls to 'Mapbox' to determine Geo-Location and 'Weatherstack' to fetch the weather data based
            on the Geo-Location.
        </p>
        <br>
        <p>{{text}}</p>
        <form>
            <input placeholder="Location">
            <button>
                Search
            </button>
        </form>
        <p id='msg1'></p>
        <p id='msg2'></p>
    </div>
    <script src="./js/js.js"></script>
</body>

{{>footer}}

</html>